/* Estilos padrão aplicados em todas as resoluções */


/* Estilos para dispositivos com largura de tela de até 720 pixels */

@media screen and (max-width: 720px) and (max-height: 1560px) {
  /* Coloque aqui os estilos que deseja aplicar no Moto G8 e outros dispositivos móveis com resolução 720x1560 */

 .container2{
   display: flex;

   flex-direction: column;
   }

  
  /* Icons */
  .box_2 img {

    width: 3%;
    height: 3%;
  }

	
  .box_2 {

  }

 .icon {
    /* Estilos para o elemento com a classe "icon" no Moto G8 */
    position: relative;
    left: 13rem;
    top: 6rem;
    z-index: 1;
    width: 5%;
    height: auto;
  }


#trex{ 
  position: relative; 
  left: 18.5rem; 
  bottom: 58.8rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#bary{ 
 position: relative; 
  left: 20rem; 
  bottom: 58rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#raptor{ 
  position: relative; 
  left: 8.5rem; 
  bottom: 59.3rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#dilo{ 
 position: relative; 
  left: 13.5rem; 
  bottom: 59rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#compy{ 
  position: relative; 
  left: 16.6rem; 
  bottom: 68.8rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#herre{ 
 position: relative; 
  left: 13rem; 
  bottom: 71rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#proce{ 
 position: relative; 
  left: 11.5rem; 
  bottom: 60rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#ptera{ 
 position: relative; 
  left: 13.3rem; 
  bottom: 60rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#trike{ 
 position: relative; 
  left: 14.8rem; 
  bottom: 77rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#para{ 
  position: relative; 
  left: 12.6rem; 
  bottom: 73rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#brach{ 
  position: relative; 
  left: 15.1rem; 
  bottom: 64.5rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#galli{ 
  position: relative; 
  left: 15rem; 
  bottom: 64.7rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#stego{ 
 position: relative; 
  left: 14.3rem; 
  bottom: 61.35rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#center{ 
 position: relative; 
  left: 6.8rem; 
  bottom: 73.5rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#gate{ 
  position: relative; 
  left: 11.2rem; 
  bottom: 74.5rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#heli{ 
 position: relative; 
  left: 12.73rem; 
  bottom: 69.7rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
} 
 
#dock{ 
 position: relative; 
  left: 18.8rem; 
  bottom: 71.8rem; 
  z-index: 1; 
  width: 5%; 
  height: auto; 
}


  /* Restante dos estilos para dispositivos móveis com resolução 720x1560 */
  /* map and subs */

.Index{
	background-color: #6ca5da;
  position: relative;
}

.back{
	position: relative;
	top: 3%;
	right: 9%;
}

.back img{
	width: 120%;
	height: 100%;
}

.subs{
	position: relative;
	top: 4%;
	right: 12%;
}

.subs img{
	width: 120%;
	height: 100%;
}

.audioi{
	position: relative;
	left: 2.7rem;
	bottom: 61.7rem;
	z-index: 1;
}

/* Dinosaurs and buildings pages */

.box_0{
}

.box_0 img{
	width: 70%;
	height: 100%;
	padding-left: 3.5rem;
	padding-top: 5rem;	
}

.box{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}


.box2{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 12rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}

.box3{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 7.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}


.box4{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}

.box5{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 9.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}

.box6{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 8.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}

#dino{
	background-color: #6ca5da;
	overflow: hidden;
}

.audio{
	position: relative;
	left: 3rem;
}

.arrow{
 position: relative;
 left: 3rem; 
 top: 5rem;
 width: 5%;
 height: 100%;
}


.box_1{
}

.box_1 img{
	width: 95%;
	height: 100%;
	padding-top: 5rem;
	padding-left: 3rem;
	
}

#build{
	background-color: #6ca5da;
	overflow: hidden;
}

#audiob{
	position: relative;
	left: 3rem;
}

}
 
@media screen and (max-width: 720px) and (max-height: 1600px) and (min-height: 1561px) {
  /* Coloque aqui os estilos que deseja aplicar no Galaxy A12 e outros dispositivos móveis com resolução 720x1600 */

 .container2{
   display: flex;

   flex-direction: column;
   }

  
  /* Icons */
  .box_2 img {

    width: 3%;
    height: 3%;
  }

	
  .box_2 {

  }

 .icon {
    /* Estilos para o elemento com a classe "icon" no S12 */
    position: relative;
    left: 13rem;
    top: 6rem;
    z-index: 1;
    width: 5%;
    height: auto;
  }



  #trex{
	 position: relative;
	 left: 17.5rem;
	 bottom: 55.8rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#bary{
	position: relative;
	 left: 19rem;
	 bottom: 55rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#raptor{
	 position: relative;
	 left: 7.5rem;
	 bottom: 56.3rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#dilo{
	position: relative;
	 left: 12.5rem;
	 bottom: 56rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#compy{
	 position: relative;
	 left: 15.6rem;
	 bottom: 65.8rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#herre{
	position: relative;
	 left: 12rem;
	 bottom: 68rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#proce{
	position: relative;
	 left: 10.5rem;
	 bottom: 57rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#ptera{
	position: relative;
	 left: 12.3rem;
	 bottom: 57rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#trike{
	position: relative;
	 left: 13.8rem;
	 bottom: 74rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#para{
	 position: relative;
	 left: 11.6rem;
	 bottom: 70rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#brach{
	 position: relative;
	 left: 14.1rem;
	 bottom: 61.5rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#galli{
	 position: relative;
	 left: 14rem;
	 bottom: 61.7rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#stego{
	position: relative;
	 left: 13.3rem;
	 bottom: 58.35rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#center{
	position: relative;
	 left: 5.8rem;
	 bottom: 70.5rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#gate{
	 position: relative;
	 left: 10.2rem;
	 bottom: 71.5rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#heli{
	position: relative;
	 left: 11.73rem;
	 bottom: 66.7rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}

#dock{
	position: relative;
	 left: 17.8rem;
	 bottom: 68.8rem;
	 z-index: 1;
	 width: 5%;
	 height: auto;
}


  /* Restante dos estilos para dispositivos móveis com resolução 720x1600 */
  /* map and subs */

.Index{
	background-color: #6ca5da;
  position: relative;
}

.back{
	position: relative;
	top: 3%;
	right: 9%;
}

.back img{
	width: 120%;
	height: 100%;
}

.subs{
	position: relative;
	top: 4%;
	right: 12%;
}

.subs img{
	width: 120%;
	height: 100%;
}

.audioi{
	position: relative;
	left: 2.7rem;
	bottom: 61.7rem;
	z-index: 1;
}

/* Dinosaurs and buildings pages */

.box_0{
}

.box_0 img{
	width: 70%;
	height: 100%;
	padding-left: 3.5rem;
	padding-top: 5rem;	
}

.box{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}


.box2{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 12rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}

.box3{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 7.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}


.box4{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}

.box5{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 9.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}

.box6{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 8.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	top: 1rem;
	left: 1rem;
	text-align: justify;

}


#dino{
	background-color: #6ca5da;
	overflow: hidden;
}

.audio{
	position: relative;
	left: 3rem;
}

.arrow{
 position: relative;
 left: 3rem; 
 top: 5rem;
 width: 5%;
 height: 100%;
}


.box_1{
}

.box_1 img{
	width: 95%;
	height: 100%;
	padding-top: 5rem;
	padding-left: 3rem;
	
}

#build{
	background-color: #6ca5da;
	overflow: hidden;
}

#audiob{
	position: relative;
	left: 3rem;
}

}



@media screen and (max-width: 1560px) and (max-height: 720px){
  /* Coloque aqui os estilos que deseja aplicar no Moto G8 e outros dispositivos móveis com resolução 720x1560 */

 .container2{
   display: flex;
   }

  
 /* Icons */
  .box_2 img {
    z-index: 1;	  
    width: 25%;
    height: 25%;
  }

	
  .box_2 {

  }

 .icon {
    /* Estilos para o elemento com a classe "icon" no Moto G8 */
    position: relative;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    width: 75%;
    height: auto;
  }


 #trex{
	 position: relative;
	 right: 16.1rem;
	 top: 12.6rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#bary{
	position: relative;
	 right: 17.2rem;
	 top: 15.2rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#raptor{
	 position: relative;
	 right: 23.7rem;
	 top: 13.1rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}


#dilo{
	position: relative;
	 right: 19.8rem;
	 top: 14.4rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#compy{
	 position: relative;
	 right: 21.1rem;
	 top: 10rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#herre{
	position: relative;
	 right: 24.6rem;
	 top: 10rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#proce{
	position: relative;
	 right: 26.3rem;
	 top: 17.8rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#ptera{
	position: relative;
	 right: 26rem;
	 top: 18.7rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}
	
#trike{
	position: relative;
	 right: 26rem;
	 top: 8.6rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#para{
	 position: relative;
	 right: 29.3rem;
	 top: 13.3rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#brach{
	 position: relative;
	 right: 26.6rem;
	 top: 17.6rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#galli{
	 position: relative;
	 right: 28.6rem;
	 top: 19.7rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#stego{
	position: relative;
	 right: 28.6rem;
	 top: 23rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#center{
	position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#gate{
	 position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#heli{
	position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#dock{
	position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}


  /* Restante dos estilos para dispositivos móveis com resolução 720x1560 */
  /* map and subs */

.Index{
	background-color: #6ca5da;
        position: relative;
}

.back{
	position: relative;
	top: 5rem;
	left: 4rem;
}

.back img{
	width: 120%;
	height: 100%;
}

.subs{
	position: relative;
	top: 5rem;
	left: 5rem;
}

.subs img{
	width: 120%;
	height: 100%;
}

.audioi{
	position: relative;
	left: 33rem;
	bottom: 3rem;
	z-index: 1;
}

/* Dinosaurs and buildings pages */

.box_0{
}

.box_0 img{
	width: 70%;
	height: 100%;
	padding-left: 2rem;
	padding-top: 2.5rem;	
}

.box{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.9rem;
	left: 38.3rem;
	text-align: justify;

}


.box2{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 12rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}

.box3{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 7.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}


.box4{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}

.box5{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 9.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}

.box6{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 8.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}


#dino{
	background-color: #6ca5da;
	overflow: hidden;
}

.audio{
	position: relative;
	left: 17.8rem;
	top: 0.3rem;
}

.arrow{
 position: relative;
 left: 1.95rem; 
 top: 3rem;
 width: 5%;
 height: 100%;
 z-index: 1;	
}


.box_1{
}

.box_1 img{
	width: 95%;
	height: 100%;
	padding-top: 10rem;
	padding-left: 25rem;
	
}

#build{
	background-color: #6ca5da;
	overflow: hidden;
}

#audiob{
	position: relative;
	left: 17.8rem;
	top: 0.3rem;
}

@media screen and (max-width: 1600px) and (min-width: 1599px) and (max-height: 720px){
  /* Coloque aqui os estilos que deseja aplicar no Moto G8 e outros dispositivos móveis com resolução 720x1560 */

 .container2{
   display: flex;
   }

  
 /* Icons */
  .box_2 img {
    z-index: 1;	  
    width: 25%;
    height: 25%;
  }

	
  .box_2 {

  }

 .icon {
    /* Estilos para o elemento com a classe "icon" no Moto G8 */
    position: relative;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    width: 75%;
    height: auto;
  }


 #trex{
	 position: relative;
	 right: 16.1rem;
	 top: 12.6rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#bary{
	position: relative;
	 right: 17.2rem;
	 top: 15.2rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#raptor{
	 position: relative;
	 right: 23.7rem;
	 top: 13.1rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}


#dilo{
	position: relative;
	 right: 19.8rem;
	 top: 14.4rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#compy{
	 position: relative;
	 right: 21.1rem;
	 top: 10rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#herre{
	position: relative;
	 right: 24.6rem;
	 top: 10rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#proce{
	position: relative;
	 right: 26.3rem;
	 top: 17.8rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#ptera{
	position: relative;
	 right: 26rem;
	 top: 18.7rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}
	
#trike{
	position: relative;
	 right: 15rem;
	 top: 15rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#para{
	 position: relative;
	 right: 15rem;
	 top: 15rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#brach{
	 position: relative;
	 right: 15rem;
	 top: 15rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#galli{
	 position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#stego{
	position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#center{
	position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#gate{
	 position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#heli{
	position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}

#dock{
	position: relative;
	 right: 20rem;
	 top: 20rem;
	 z-index: 1;
	 width: 75%;
	 height: auto;
}


  /* Restante dos estilos para dispositivos móveis com resolução 720x1560 */
  /* map and subs */

.Index{
	background-color: #6ca5da;
        position: relative;
}

.back{
	position: relative;
	top: 5rem;
	left: 4rem;
}

.back img{
	width: 120%;
	height: 100%;
}

.subs{
	position: relative;
	top: 5rem;
	left: 5rem;
}

.subs img{
	width: 120%;
	height: 100%;
}

.audioi{
	position: relative;
	left: 33rem;
	bottom: 3rem;
	z-index: 1;
}

/* Dinosaurs and buildings pages */

.box_0{
}

.box_0 img{
	width: 70%;
	height: 100%;
	padding-left: 2rem;
	padding-top: 2.5rem;	
}

.box{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}


.box2{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 12rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}

.box3{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 7.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}


.box4{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 14.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}

.box5{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 9.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}

.box6{
	background-color: #2244b3;
	border: 5px solid #000000;
	border-radius: 10px;
	color: #FFFFFF;
	width: 20rem;
	height: 8.8rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	bottom: 19.5rem;
	left: 38.3rem;
	text-align: justify;

}


#dino{
	background-color: #6ca5da;
	overflow: hidden;
}

.audio{
	position: relative;
	left: 17.8rem;
	top: 0.3rem;
}

.arrow{
 position: relative;
 left: 1.95rem; 
 top: 3rem;
 width: 5%;
 height: 100%;
 z-index: 1;	
}


.box_1{
}

.box_1 img{
	width: 95%;
	height: 100%;
	padding-top: 10rem;
	padding-left: 25rem;
	
}

#build{
	background-color: #6ca5da;
	overflow: hidden;
}

#audiob{
	position: relative;
	left: 17.8rem;
	top: 0.3rem;
}














